<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-10">
			<div class="intro-wildlife text-center pt50">
				<h1> Insert Animal's Name</h1>					
				</div>
			</div>			
		</div>
		<div class="col-md-4"></div>
	</div>
</div>